# Configuration PostgreSQL
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=GitFetch

# URI de connexion PostgreSQL (construite à partir des variables ci-dessus)
DATABASE_URL=postgresql://postgres:root@localhost:5432/GitFetch

# Paramètres d'envoi de mail
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=kouamdorinal9@gmail
MAIL_PASSWORD=sfjvcgseuoichbcz
MAIL_DEFAULT_SENDER=kouamdorinal9@gmail.com



# Google client id
GOOGLE_CLIENT_ID=883140310681-e9p969k1mfnuj1ug9qhp9p6r4g62s4sv.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# Mes clés GitHub
GITHUB_CLIENT_ID=Ov23liW3qLIVeSdOdpqN
GITHUB_CLIENT_SECRET=66a57760732d50cf13c950370c6fa1d44e15d8ca

# Clé API Flask
SECRET_KEY=510274eeac165909fd5eb2fb53b25b4c0e89566bd2dd22643aa758b65441bc8e