<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Site Flask{% endblock %}</title>
    {% block styles %}{% endblock %}
    <link rel="icon" href="{{ url_for('static', filename='img/logo2.png') }}">
</head>
<style>
     p{
            text-align : justify !important;
        }
</style>
<body>
    {% include 'includes/menu.html' %}
    
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        
        <!-- Block de contenu principal -->
        {% block content %}
        <!-- Le contenu des pages viendra ici -->
        {% endblock %}
    </main>
    
    
    
    <!-- Block pour le JS spécifique -->
    {% block scripts %}{% endblock %}
</body>
</html>